doctype html
html(lang="en")
	head
		title="GEDS prototype"
		link(href="https://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet")
		style.
			body, html {
			  height: 100%;
			  width: 100%;
			  margin: 0;
			}
			
			#map {
				width: 100%;
				height: 100%;
			}
	body
		#map
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBh5pFB0BIyXGCgo86kno6UOZcZ3ABqT24")
		script(src="/socket.io/socket.io.js")
		script(src="main.js")
			